body{
    background-color: rgb(7, 7, 7);
    max-height: 100%;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 70px;
}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9{
    height: 100px;
    border-width: 10px;
    border-color: aqua;
    width: 100px;
    border-style: solid;
    color: aqua;
    font-size: 90px;
    text-align: center;
    position: relative;
}
.but {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    position: relative;
    top: -50px;
}
.but1{
    position: relative;
    top: -80px;
    left: 50%;
    height: 40px;
    width: 80px;
    background-color: aqua;
}
.main,.main1{
    font-size: 30px;
    position: absolute;
    left: 3%;
}